 <!--Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark" style="background-color:#488286">
      <div class="container-fluid">
        <h6 class="display-10 navbar-text">&copy; Copyright 2021 All Rights Reserved.</h6>
      </div>
    </nav>
  </footer>