<!--Projects Page-->  

  <h4 style="color: #305252;">Past Projects:</h4>
  <ul>
  <li><img src = "Assets/images/Character Design 5.0.png" width="175" height="258" id="photos1" style="float: left; padding: 10px;">
  <p>This is my first group project in Game Programming! This is a game called Phantom Breakout, it was made by myself and three other memebers.
  The game is about a young boy who has lost his way in a dark maze, his goal is to find the Orb of Light and bring it back to it's rightful place
  other wise he will be stuck in that maze for all eternity with ghouls and ghosts of all kinds. While making this game, I was the assets developer
  as well as general programmer. I also created the cover image (as you see next to this text). 
  </p></li><br><br><br><br><br><br>

  <li><img src = "Assets/images/dorothy.png" width="478" height="229" id="photos2" style="float: right; padding: 10px;">
  <p>This is my first project in Web Design! This is a website based on the real estate agent Dorothy Harrison, and it was made by only me.
  The website is reflects Dorothy's success in selling, her mission statement, properties she has for sale, active listings, and her contact page as well.
  </p></li><br><br><br>
  </ul>

  <h4 style="color: #305252;">Current Projects:</h4>
  <ul>
  <li><img src = "Assets/images/Team Logo_3.7.png" width="250" height="250" id="photos1" style="float: left; padding: 10px;">
  <p>This is a project I am currently working on called Lil Oli's Lil Journey. It is being made by myself and four other members. The game is about
  an alien who crash lands on Earth and he needs to set up an antenna to send a signal home otherwise he will remain on Earth. While making this game
  I am a general programmer and technical artist. The image next to this text is our team logo.
  </p></li>
  </ul>
  <br><br>

