<!--About Me Page-->

 <img src = "Assets/images/Me.jpg" width="180" height="346" id="photos1" style="float: right; padding: 10px;"><p> Hello my name is Nandini Hariprasad, I am a 19 years old female game programming student.
I am currently enrolled in Centennial College completing an Ontario Advanced Diploma to persue my dream as a game developer. Aside from attending my daily classes, I also
have a part-time job where I continue to learn more valuable skills. I am a hard working, responsible,
passionate, and challenge-driven student seeking more knowledge. Growing up I have always been a
fan of video games, but that wasn't the only thing I loved, I also loved to draw new characters
and designs as I still do today! From then I have learnt new drawing tactics and even started 3D modelling
as well. Overall I hope to learn more and increase my current knowledge!
</p><br>
<p>You will find my resume through this <a href="Assets/Nandini CO-OP Resume 2021.pdf" style="color: #305252;"> link</a></p><br>