<!--Home Page-->
  <p>Hello this is Nandini and welcome to my site. Through this site you will find that I am a hard worker, 
      knowledgeable and competent student. I am willing to learn and expand my knowledge with each and every passing day.
       On this site you will see what types of services I provide, what are some of projects, and you'll get to know a little
        more about me as well. While browsing this site I hope you will find what you are looking for and that you are satisfied
        with your visit.
  </p><br>
  <!--List of links to follow-->
  <ul>
    <li><p>To find out more about me click <a href ="/about" style="color: #305252;"> here</a></p></li>
    <li><p>To learn more about my services click <a href ="/services" style="color: #305252;"> here</a></p></li>
    <li><p>To view some of my projects click <a href ="/projects" style="color: #305252;"> here</a></p></li>
    <li><p>To contact me click <a href ="/contact" style="color: #305252;"> here</a></p></li>
  </ul>