<!--Services Page-->

   <img src = "Assets/images/Game.jpg" width="300" height="200" align="right" id="service" style="padding: 5px;"><br><br>
  <img src = "Assets/images/design.jpg" width="300" height="200" align="right" id="service" style="padding: 5px;"><br><br>
  <img src = "Assets/images/anim.jpg" width="300" height="200" align="right" id="service" style="padding: 5px;"><br><br>

  <!--List of Service-->
  <h4 style="color: #305252;">Services I offer:</h4>
  <ul>
  <li>General Programming</li>
  <li>HTML Programming</li>
  <li>C# Programming</li>
  <li>Game Design</li>
  <li>2D Designs</li>
  <li>2D Animations</li>
  <li>Unity</li>
  </ul>