/*COMP229-Assignment01-Portfolio
Nandini Hariprasad
301129100
03/10/2021*/

/*Custom CSS*/
/*body {
	background-color: #B7D5D4;
	font-family: Verdana, Arial, sans-serif;
    color: #373E40;
}
#myForm{
    background-color: whitesmoke;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 15px;
    opacity: 0.8;
}

label{
    width: 350px;
    text-align: right;
    float: left;
    padding-right: 20px;
}
#panel{
    width: 500px;
    margin-right: auto;
    border-radius: 10px;
    padding: 15px;
    opacity: 0.8;
}


#photos1{
    float: left;
    padding: 10px;
}
#photos2{
    float: right;
    padding: 10px;
}

#service{
    padding: 5px;
}
a{
    color: #305252;
}
h1{
    color: #77878B;
}
h4{
    color: #305252;
}*/